* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

:root {
  --squareSize: 200px; /* Variável CSS */
}

.allGrid {
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  z-index: 2;
}

.square {
  border: solid black 1px;
  z-index: 2;
  flex-basis: 100%;
}

.background {
  background-color: tomato;
  z-index: 0;
  position: absolute;
}

.inputNum {
  width: 60px;
}

.token {
  z-index: 3;
  position: absolute;
}
